* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.lib{
    background-image: url('./pexels-rafael-cosquiere-2041540.jpg'); /* Replace with your background image */
    background-size:cover;
    /* background-position: center; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8; /* Adjust opacity as needed */

    text-align: center;
    color: #fff;
    padding: 200px 0;
}
/* nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav h1 {
    float: left;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
} */

 
